.Technology {
    background-image: url(https://raw.githubusercontent.com/dalowa/space-tourism/main/src/assets/technology/background-technology-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px){
    .Technology {
        background-image: url(https://raw.githubusercontent.com/dalowa/space-tourism/main/src/assets/technology/background-technology-tablet.jpg);
    }
    
}

@media (min-width: 990px){
    .Technology {
        background-image: url(https://raw.githubusercontent.com/dalowa/space-tourism/main/src/assets/technology/background-technology-desktop.jpg);
    }
}